<script type="text/javascript">
  var BASE_URL = '{{ site.url }}';
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>
//space status anzeige
<script>
$(function(){
  $.get( "/status.html", function( data ) {

      var sColor="red";
      var sText="Space closed";
      var sTitle="Der Space ist leider gerade geschlossen.";
      if($.trim(data)=="offen"){
        sColor="green";
        sText="Space open";
        sTitle="Der Space ist gerade offen - schau doch mal vorbei!";
      }
      var joStatus=$('<span style="display: inline;margin-left: auto;margin-right: auto;padding:0 25px;margin-top:10px;position: relative;border: 1px solid '+sColor+';border-radius: 10px;text-align:center;color:white;background-color:'+sColor+';font-size: 0.9em;" title="'+sTitle+'" id="spaceState"></span>');
      joStatus.html(sText);
      $(".masthead > .wrap").append(joStatus);
  });
});
</script>


{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl = 
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
